.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

/* header {
    background-image: url({{url_for('static', filename='img/catgrey.jpg')}});
    background-size: cover;
    background-position: center;
    min-height: 500px;
} */

header {
    background: url(./static/img/catgrey.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

/* .header-image {
    background-image: url({{url_for('static', filename='img/catgrey.jpg')}});
    background-size: cover;
    background-position: center;
    min-height: 500px;
} */

/* .header-image {
    background: url(img/catgrey.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
} */

/* .header-image {
    background-image: url({{url_for('static', filename='img/catgrey.jpg')}});
    background-size: cover;
    background-position: center;
    min-height: 500px;
} */

#greycat {
    width: 100%;
}