.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

/* header {
    background: url_for(img/rupert1.JPG);
    background-size: cover;
    background-position: center;
    min-height: 500px;
} */