.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../img/rupert.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 60vh;
}

.flashes h4 {
    line-height: 2;
}