<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Minified CSS taken from https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Compiled and minified CSS taken from https://materializecss.com/getting-started.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Cats</title>
</head>
<body>

    <header>
    <!--Main Nav-->
        <nav class="nav-wrapper">
        <div class="container">
            <a href="" class="brand-logo">Phibsboro Cat Rescue</a>
            <a href="" class="sidenav-trigger" data-target="mobile-menu">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#adopt"></a>Adopt</li>
                <li><a href="#volunteer"></a>Volunteer</li>
                <li><a href="#gallery"></a>Gallery</li>
                <li><a href="#contact"></a>Contact</li>
                <li><a href="#login"></a>Log In</li>
            </ul>
            <ul class="sidenav grey lighten-2" id="mobile-menu">
                <li><a href="#adopt"></a>Adopt</li>
                <li><a href="#volunteer"></a>Volunteer</li>
                <li><a href="#gallery"></a>Gallery</li>
                <li><a href="#contact"></a>Contact</li>
                <li><a href="#login"></a>Log In</li>
            </ul>
        </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
<!-- Minified JQuery script taken from http://code.jquery.com/-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> 
<!-- Compiled and minified JavaScript taken from https://materializecss.com/getting-started.html-->
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>   
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    })
</script>
{% block scripts %}
{% endblock %}
</body>
</html>