<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Minified CSS taken from https://cdnjs.com/libraries/font-awesome -->
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Icons taken from https://fontawesome.com/ -->
    <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Icons taken from https://materializecss.com/icons.html -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS taken from https://materializecss.com/getting-started.html -->
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Cats</title>
</head>
<body>

    <header>
        <!--Top Navbar-->
        <nav class="nav-wrapper transparent grey-text text-darken-4">
            <div class="container">
                <a href="{{ url_for('get_cats') }}" class="brand-logo text-shadow">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                    <i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="text-shadow" href="#">Adopt</a></li>
                    <li><a class="text-shadow" href="#">Volunteer</a></li>
                    <li><a class="text-shadow" href="#">Gallery</a></li>
                    <li><a class="text-shadow" href="#">Contact</a></li>
                    {% if session.user %}
                        <li><a class="text-shadow" 
                        href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!--Side Navbar-->
        <ul class="sidenav" id="mobile-demo">
                    <li><h4 class="center-align">Menu</h4></li>
                    <li><a href="#">Adopt</a></li>
                    <li><a href="#">Volunteer</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                    {% if session.user %}
                        <li><a class="text-shadow" 
                        href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
        </ul>

    </header>

    <section>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="row flashes">
                    <h4 class="center-align">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

<!-- Minified JQuery script taken from http://code.jquery.com/-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> 
<!-- Compiled and minified JavaScript taken from https://materializecss.com/getting-started.html-->
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>   
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>