{% extends "base.html" %}
{% block content %}

    <!-- {% for cat in cats %}
        {{ cat.name }}<br>
        {{ cat.age }}<br>
        {{ cat.gender }}<br>
        {{ cat.appearance }}<br>
        {{ cat.rescue_date }}<br>
    {% endfor %} -->

    <ul class="collapsible">
        {% for cat in cats %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-cat"></i>
                <strong>{{ cat.name }}</strong>
            </div>
            <div class="collapsible-body">
                {{ cat.age }}<br>
                {{ cat.gender }}<br>
                {{ cat.appearance }}<br>
                {{ cat.rescue_date }}<br>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}